@font-face {
    font-family: 'HelveticaRegular';
    src: url('../fonts/Linotype-HelveticaNeueLTGEO55Roman.ttf');
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/Linotype-HelveticaNeueLTGEO75Bold.ttf');
}

@font-face {
    font-family: 'HelveticaGeoCaps';
    src: url('../fonts/helvetica-neue-lt-geo-55-roman-caps.ttf');
}

.font-neue {
    font-family: 'HelveticaGeoCaps';
}

body, .font-helvetica {
    font-family: 'HelveticaRegular';
}

.product-card {
    position: relative;
    box-shadow:0 0.5rem 2rem -0.25rem hsla(216, 9%, 44%, .1);
    z-index: 2;
    transition: box-shadow 0.5s ease-in-out 0s;
}
.product-card:hover {
    -webkit-box-shadow: 0 0.5rem 2rem -0.25rem #FF6900;
    box-shadow: 0 0.5rem 2rem -0.25rem #FF6900;
}


